## Name of the library/application
project.type = application
project.name = watchdog
project.prefix =

# Comma separated list of Names of
# external libraries
external.libraries.windows =  pthreadVC, gdi32, user32, ws2_32, Advapi32, Shell32, psapi, Iphlpapi, SDL, SDLmain, libcurl, libpng, libtiff, libjpeg, libungif
external.libraries.linux = SDL, SDLmain, curl, png, tiff, jpeg, gif 
external.libraries.osx = SDL, SDLmain curl, png, tiff, jpeg, gif 
frameworks.osx=Cocoa

# Comma separated list of Names of
# variant libraries
variant.libraries = aslbase, aslnet, aslserial, asldom, paintlib

# Comma separated list of Names/Patterns of
# all source files
source.files = **/*.cpp, **/*.c++, **.c
source.files.windows =
source.files.linux = 
exclude.source.files = **/*.tst.cpp, **/*.tst.c++
exclude.source.files.windows =
exclude.source.files.linux =

# Comma separated list of Names/Patterns of
# header files to install
header.files = **/*.h
exclude.header.files =

# Comma separated list of Names/Patterns of
# all test sources
test.sources = **/*.tst.cpp, **/*.tst.c++
test.sources.windows =
exclude.test.sources = watchdog.cpp
exclude.test.sources.windows = testPdF1.tst.cpp

# Comma separated list of
# external libraries for tests
# external.test.libraries =
external.test.libraries.windows = ws2_32, Shell32 

# Comma separated list of
# variant libraries for tests
variant.test.sources =
variant.test.libraries = aslbase, aslnet, asldom, aslserial, paintlib
